* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Raleway, sans-serif;
  color: $textPrimary;
}
.container {
  max-width: 480px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.section {
  padding: 94px 0;
  @extend .container;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
%menu-toggler {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transition: $transition;
  cursor: pointer;
}
