.description {
  &__container {
    @extend .container;
  }
  &__list {
    list-style: none;
    display: flex;
    padding: 86px 0 0;
    margin: 0;
    gap: 30px;
  }
  &__icon-box {
    margin: 0 0 30px;
    width: 70px;
    padding: 25px 103.75px;
    border-radius: 4px;
    background-color: $backgroundGray;
  }

  &__header {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $textSecondary;
  }
}
