.footer {
  background-color: $footerBackground;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
  }
  &__subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 8px;
    color: $white;
    font-style: normal;
    font-size: 14px;
  }
  &__contact-link {
    text-decoration: none;
    font-style: normal;
    color: $whiteTransparent;
    transition: color $transition;
  }
  &__contact-link:hover,
  &__contact-link:focus {
    color: $active;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__text {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  &__icons {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 10px;
  }
  &__icon-link {
    height: 20px;
    width: 20px;
    display: block;
    padding: 12px;
    border-radius: 50%;
    fill: $white;
    background-color: $iconBackground;
    transition: background-color $transition;
  }
  &__icon-link:hover,
  &__icon-link:focus,
  &__icon-link:active {
    background-color: $active;
    border-radius: 50%;
    cursor: pointer;
  }

  &__newslatter {
    text-align: center;
  }

  &__form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__input {
    padding: 0 15px;
    width: 450px;
    height: 50px;
    color: $white;
    border: 1px solid $borderGray;
    border-radius: 4px;
    background-color: $footerBackground;
    outline: 0;
  }
  &__input::placeholder {
    font-size: 16px;
    color: $whiteTransparent;
  }

  &__button {
    padding: 10px 0;
    width: 200px;
    background: $active;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
  }
  &__icon {
    margin-left: 24px;
    vertical-align: middle;
    fill: currentcolor;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__subcontainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 144px;
    }
  }

  @media screen and (min-width: 1200px) {
    .footer {
      &__container {
        flex-direction: row;
        justify-content: space-between;
        gap: 78px;
      }
      &__subcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
      }

      &__contact {
        align-items: flex-start;
      }
      &__address {
        align-items: flex-start;
        gap: 9px;
      }

      &__social {
        align-items: flex-start;
      }

      &__newslatter {
        text-align: start;
      }

      &__form {
        padding-top: 20px;
        flex-direction: row;
        gap: 12px;
      }

      &__input {
        width: 358px;
      }
    }
  }
}
