.logo {
  text-decoration: none;
  color: $logo;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;

  &--color {
    color: $active;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
