.services {
  display: none;
  @extend .container;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
    padding-bottom: 94px;

    &__header {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 0;
      margin-bottom: 50px;
    }
    &__list {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      gap: 30px;
    }
    &__item {
      position: relative;
    }
    &__caption {
      position: absolute;
      padding: 27px 0;
      width: 100%;
      top: 224px;
      background-color: $textBoxBackgound;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: $white;
    }
  }
}
