.social {
  text-align: center;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 10px;

  &__icon-link {
    display: block;
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    fill: $icon;
    transition: background-color $transition, fill $transition;
  }
  &__icon-link:hover,
  &__icon-link:focus,
  &__icon-link:active {
    fill: $white;
    background-color: $active;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .social {
    padding: 0 74px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    padding: 0 32px 30px;
  }
}
