// Deklaracja zmiennych //

$logo: #000000;
$active: #2196f3;
$white: #fff;
$whiteTransparent: #ffffff99;
$footerBackground: #2f303a;
$backgroundGray: #f5f4fa;
$textPrimary: #212121;
$textSecondary: #757575;
$borderGray: #ffffff4d;
$borderWhite: #eeeeee;
$borderModal: #21212133;
$borderModalButton: #0000001a;
$placeholder: #75757580;
$icon: #afb1b8;
$iconBackground: #ffffff1a;
$backgroundTransparent: #2f303a66;
$textBoxBackgound: #2f303acc;
$activeTransparent: #2196f3e5;
$borderMenu: #ececec;
$borderModal: #0000001a;
$backdrop: #00000033;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
